<!DOCTYPE html>
<html>
<head>
  <title>Calendario</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
  <form action="/fecha" method="GET">
    <label for="calendario">Selecciona una fecha:</label>
    <input type="text" id="calendario" name="fecha" class="flatpickr">
    <button type="submit">Enviar</button>
  </form>
  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    flatpickr(".flatpickr");
  </script>
</body>
</html>
